/* * {
    margin: 0%;
} */

.row1 {
    padding-top: 1%;
}

.img-logo {
    height: 10%;
    width: 20%;
    padding-left: 5%;
}

.nav-right {
    padding-right: 3%;
}

.row2 {
    height: 114.99999237060547px;
    width: 131.58103942871094px;
    left: -50px;
    top: 160px;
    border-radius: 0px;
}

.row3 {
    padding-top: 3%;
    margin-left: 5%;
}

.col1-row3 {
    padding-right: 26%;
}

.row4 {
    text-align: center;
    align-items: center;
    align-content: center;
}

.bar-center {
    text-align: center;
    align-items: center;
}

.button-row3 {
    padding-top: 12%;
}

.row4 {
    text-align: center;
    align-items: center;
    align-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    box-shadow: 5px 10px white;
    padding: 20px;
    margin: 20px;
}

.textcenter-div {
    text-align: center;
}


/* .vector {
    float: left;
    background-image: url(../images/Vector.png);
}

.ele {
    float: right;
    padding-top: 5%;
    background-image: url(../images/element.png);
} */